.footer {
    background-color: #0056b3;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-left span {
    display: block; /* Para que cada span esté en línea separada */
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .footer-right .social-icon {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .footer-right .social-icon:hover {
    color: #1e90ff;
  }

  .social-icon{
    color: #fff;
  }